{% extends "layout.html" %} {% load crispy_forms_tags %} {% load static %} {% block content %}
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-7 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center"><b>Contacts</b></h5>

                    If you wish to reach us, have any questions or feel like you could provide any suggestions feel free to by writing an email to:<br />
                    <br />

                    <center><h4>9imagewall@gmail.com</h4></center>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
