{% extends "layout.html" %} {% load crispy_forms_tags %} {% load static %} {% block content %}
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-7 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center"><b>Terms of service</b></h5>

                    By signing up on this website you agree on:<br />
                    <br />
                    <li>Posting only legal content that obides your country laws;</li>
                    <li>Refrain from posting any nude or pornographic content;</li>
                    <li>Refrain from leaking other people personal information that you do not have permit to;</li>
                    <li>Respecting other individuals that are using the website;</li>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
